[global]
        workgroup = SAMBA
        security = user

        passdb backend = tdbsam

        smb encrypt = required
        server min protocol = SMB3

[homelab]
        path = {{ storage_dir }}
        write list = @{{ username }}